ingress:
  hostname: di-hostname
  annotations: {
    cert-manager.io/cluster-issuer: "letsencrypt-staging" # use letsencrypt-prod if proper letsencrypt certs are required
  }
## apiServer resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
## @param apiServer.resources.limits The resources limits for the apiServer containers
## @param apiServer.resources.requests The requested resources for the apiServer containers
##
apiServer:
  resources:
    limits:
      cpu: 1000m
      memory: 1.2Gi
    requests: 
      cpu: 700m
      memory: 1.2Gi

  nodeSelector:
    node.kubernetes.io/instance-type: t3a.medium

## authenticator resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
## @param authenticator.resources.limits The resources limits for the authenticator containers
## @param authenticator.resources.requests The requested resources for the authenticator containers
##
authenticator:
  resources:
    limits:
      cpu: 600m
      memory: 750Mi
    requests: 
      cpu: 500m
      memory: 500Mi

  nodeSelector:
    node.kubernetes.io/instance-type: t3a.medium

## databroker resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
## @param databroker.resources.limits The resources limits for the databroker containers
## @param databroker.resources.requests The requested resources for the databroker containers
##
databroker:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests: 
      cpu: 400m
      memory: 400Mi

  nodeSelector:
    node.kubernetes.io/instance-type: t3a.medium
    
## metering resource requests and limits
## ref: http://kubernetes.io/docs/user-guide/compute-resources/
## @param metering.resources.limits The resources limits for the metering containers
## @param metering.resources.requests The requested resources for the metering containers
##
metering:
  resources:
    limits:
      cpu: 700m
      memory: 1Gi
    requests: 
      cpu: 500m
      memory: 800Mi
      
  nodeSelector:
    node.kubernetes.io/instance-type: t3a.medium
