input {
  rabbitmq {
    host => "tasks.rabbitmq"
    port => 5671
    ssl => true 
    vhost => "IUDX"
    user => "${rabbitmq_user}"
    password => "${rabbitmq_passwd}"
    queue => "database"
    durable => true
    metadata_enabled => true
  }
}

output { 
  pipeline { 
    send_to => [ "resource-group", "latest-data" ] 
  }  
}

# Notes
# certificate verification is not actually happening
