@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}
.header{
    max-height: 64px;
    background: #ecf9f2;
    width: 100%;
    z-index: 111;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


hr{
    max-height: 1px;
    background: #D1FAE5;
    width: 100%;
    z-index: 111;
    position: absolute;
    top: 70px;
    bottom: 0;
    border: 1px solid #4b8e82;
}
img{
    width: 7%;
    position: relative;
    left: -26.5%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(#0a9, #0a9 50%, #fff 50%, #fff 100%); */
background-color: #ecf9f2;
}

.container{
    max-width: 1720px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container .box{
    position: relative;
    width: 320px;
    background: #fff ;
    padding: 100px 30px 60px;
    box-shadow: 0 15px 45px rgba(0,0,0,.1);
    margin-right: 40px;
}

.container .box:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #58a597;
    transform: scaleY(0);
    transform-origin: top;
    transform: transform 0.5s;
}

.container .box:hover:before{
    transform: scaleY(1);
    transform-origin: left;
    transition: transform 0.5s;
}

.container .box h2{
    position: absolute;
    left: 40px;
    top: 60px;
    font-size: 4em;
    font-weight: 800;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.container .box:hover h2{
    opacity: 1;
    color: #fff;
    transform: translateY(-40px);
}

h2 img{
    width: 25px;
    position: relative;
    left: 140px;
    top: -13px;
}

.container .box h3 {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
    color: #4b8e82;
    transition: 0.5s;
    height: 90px;
}

.container .box:hover h3{
    color: #fff;
}

.container .box p {
    position: relative;
    z-index: 2;
    color: #555;
    transition: 0.5s;
}
p, h1{
    font-family: "Mukta", sans-serif;
}

h1{
    color: #854D0E;
    font-family: "Noticia Text", serif;
    font-weight: 400;
}
.container .box:hover h3,
.container .box:hover p{
    color: #fff;
}