extraEnvVars:
  - name: LOGSTASH_HEAP_SIZE
    value: 2048m
nodeSelector:
  node.kubernetes.io/instance-type: Standard_B2s
resources:
  requests:
    cpu: "800m"
    memory: "2.5Gi"
  limits:
    cpu: "1200m"
    memory: "3Gi"
persistence:
  storageClass: "azuredisk-csi-storage-class"
  size: 10Gi
