input {
  rabbitmq {
    host => "tasks.rabbitmq"
    port => 5671
    ssl => true 
    vhost => "IUDX"
    user => "${rabbitmq_username}"
    password => "${rabbitmq_password}"
    queue => "adaptorLogs"
    durable => true
  }
}

filter {
  mutate {
    remove_field => [ "@timestamp", "@version" ]
  }
}

output {
  elasticsearch {
    hosts => [ "tasks.elasticsearch:9200" ]
    manage_template => false
    user => "${elasticsearch_username}"
    password => "${elasticsearch_password}"
    index => "adaptor-logs"
  }
}

# Notes
# certificate verification is not actually happening
